{% extends "base.html" %}
{% block content %}

<div class="w-full mx-auto mt-10 px-12 space-y-12 px-4">

  <!-- WeatherBear Section -->
  <div class="flex flex-col md:flex-row bg-white rounded-xl shadow-lg p-8 min-h-[200px] items-center justify-between w-full">
    <!-- Logo on Left -->
    <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-8">
      <img src="{{ url_for('static', filename='assets/black_weatherBear.png') }}" alt="WeatherBear Logo" class="h-55 w-auto">
    </div>

    <!-- Text -->
    <div class="text-center md:text-left flex-1">
      <h2 class="text-3xl font-bold text-gray-800 mb-3">WeatherBear</h2>
      <p class="text-gray-600 text-lg leading-relaxed">
        The idea for WeatherBear came from my desire to read the National Weather Service forecast discussion on my phone each morning. While it's possible to access these discussions on weather.gov, the site is famously not mobile-friendly, and I got tired of swiping all over the place just to read a paragraph. Originally, WeatherBear was simply an email bot that sent the AFD each morning. Then I realized the potential for these discussions to serve as a learning tool if summarized at varying levels. So, I implemented OpenAI’s GPT-4.1-mini model via their API and added that functionality to the email bot. Eventually, I realized that others might benefit from this tool too, and that signing up for an email list felt a bit outdated, so I created the website. Now, anyone can get custom forecasts for anywhere serviced by the National Weather Service at any time.
      </p>
    </div>
  </div>

  <!-- Developer Section -->
  <div class="flex flex-col md:flex-row bg-white rounded-xl shadow-lg p-8 min-h-[200px] items-center justify-between w-full">
    <!-- Text -->
    <div class="text-center md:text-left flex-1 md:mr-8">
      <h2 class="text-3xl font-bold text-gray-800 mb-3">About me</h2>
      <p class="text-gray-600 text-lg leading-relaxed">
        My name is Cameron, I have a degree in Meteorology with a minor in Computer Programming from North Carolina State University. Go Wolfpack! I am 
        currently an atmospheric science graduate student at the University at Albany, NY. This project started out as something to keep my programming skills
        sharp over the summer break, but quickly turned into a passion project. I have many more ideas for the site, many of which I will likely never get to, 
        and I look forward to continuing development on this project.
      </p>
    </div>

    <!-- Photo -->
    <div class="flex-shrink-0 mt-6 md:mt-0">
      <img src="{{ url_for('static', filename='assets/my_photo.jpeg') }}" alt="Cameron Photo" class="h-55 w-55 rounded-xl shadow-md object-cover">
    </div>
  </div>

</div>

{% endblock %}
